

*, *::after, *::before{
  box-sizing: border-box;
  font-family:sans-serif;
  font-size: 20px;
  font-weight: 450;
  color: rgb(133, 43, 58);
}

body {
  padding: 0px;
  margin:0px;
  background-color: rgb(164, 123, 123);


}
.kalkulator{    
  margin: 23px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(120px, auto) repeat(4, 80px);
}
.wynik{
  background-color: rgb(249, 154, 176);
  grid-column: 1 / -1 ;
  border: 1px solid rgb(133, 43, 58);
  padding: 20px;
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.75);
}


.poprzednie-dzialanie{
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 196, 205)
}
.aktualne-dzialanie{

  font-size: 30px;
  
}

button{
  cursor: pointer;
  border: 1px solid rgb(133, 43, 58);
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.75);
  background-color: rgb(194, 100, 128);
  outline: none;
}

.coll2{
  grid-column: span 2;
}